@font-face {
  font-family: "CoolFont";
  src: local("font/Aeonik-Regular.otf"),
    url("font/Aeonik-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Icon";
  src: local("font/modernpics.otf"),
    url("font/modernpics.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  font-size: 16px;
}

.overflow {
  overflow: hidden;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

:root {
  font-family: "CoolFont", sans-serif;
  font-weight: 400;
  font-style: normal;
  --bg-color: #f8f8f8;
  --text-color: #161616;
  --bg-border: var(--text-color);
  --bg-color-inverted: var(--text-color);
  --text-color-inverted: var(--bg-color);
  --enviroment-color: #27db36;
  --accent: #dbe7e2;
  --gray: #f8f8f8;
  --black: #161616;
  --gap: 3vw;
}

::-moz-selection {
  /* Code for Firefox */
  color: rgb(19, 19, 19);
  background: #e9e9e9;
}

::selection {
  color: rgb(19, 19, 19);
  background: #e9e9e9;
}

.mx-auto {
  margin: 0 auto;
}

.centered {
  text-align: center;
}

.row {
  /* list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; */
}

.step-header {
  display: flex;
  flex-direction: column;
}

.bg-hero {
  z-index: -10;
}

.steps-layout {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: auto 0;
}

.navbar {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  right: 0;
  left: 0;
  margin: 0 auto;
  color: var(--text-color);
  height: 80px;
  z-index: 9999;
}

.nav-divider {
  height: 1px;
  background-color: var(--bg-border);
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.divider {
  height: 1px;
  width: 0px;
  background-color: var(--bg-color-inverted);
}
.divider-small {
  height: 1px;
  width: 0px;
  background-color: var(--bg-color-inverted);
}
.divider-loader {
  height: 1px;
  width: 0px;
  background-color: var(--bg-color);
}

.u-divider {
  width: 32px;
  margin-right: 1vw;
  margin-left: 1vw;
}

.logo-navbar {
  height: 24px;
  width: auto;
  mix-blend-mode: difference;
}

.overflown {
  overflow: hidden;
}

.marquee-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1px;
  background-color: var(--bg-color);
}

.author {
  line-height: 150%;
  margin-bottom: 40px;
}

.marquee-row {
  white-space: nowrap;
  width: 100vw;
  display: flex;
  gap: 1px;
  will-change: transform;
}
.marquee-row2 {
  white-space: nowrap;
  width: 100vw;
  display: flex;
  gap: 1px;
  will-change: transform;
}

.marquee-row3 {
  white-space: nowrap;
  width: 100vw;
  display: flex;
  gap: 1px;
  will-change: transform;
}
.step-header > .heading-display > .font-icon > .wordsParent > .wordsChild {
  color: var(--text-color);
  -webkit-text-stroke: 1px var(--bg-color);
}

.contact-hero > .font-icon {
  color: var(--bg-color);
  -webkit-text-stroke: 1px var(--text-color);
}

.marquee-fixed-height {
  padding: 0.1rem 0 1rem 0;
  margin-top: -1rem;
  margin-bottom: -1rem;
}

.marquee {
  display: inline-block;
  padding: 2rem;
  outline: 1px solid var(--bg-border);
  text-wrap: nowrap;
}

.hidden {
  display: none;
}

.hidden-mobile {
  display: block;
}

.loader {
  will-change: transform;
  /* background-color: var(--black); */
  background-color: var(--bg-color-inverted);
  position: fixed;
  width: 100%;
  height: 100vh;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  z-index: 999999;
}

.loader-bar {
  width: 200px;
  height: 50px;
}

.loader-logo {
  font-family: "CoolFont";
  font-style: normal;
  letter-spacing: -0.06em;
  font-size: 2rem;
  line-height: 1;
  text-align: center;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.fixed {
  position: sticky;
  right: 0;
  left: 0;
  top: 0;
  z-index: -10;
  height: 100svh;
}

.overflown {
  overflow: hidden;
}

.contact-menu {
  background-color: var(--text-color);
  color: var(--bg-color);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 400px;
  height: 100vh;
  z-index: 9999;
  transform: translateX(100%);
}

.service-block {
  width: 100%;
}

.service-inner {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.service-wrap {
  padding: 4rem 4rem;
  opacity: 0;
  transform: translateY(60px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.heading-hero > .wordsParent:nth-child(1) {
  padding-bottom: 2px;
}
.heading-hero > .wordsParent:nth-child(2) {
  padding-bottom: 2px;
}
.heading-hero > .wordsParent:nth-child(3) {
  padding-bottom: 2px;
}
.font-icon {
  font-family: "Icon";
}

.hero-icon {
  /* line-height: 146%;
  font-size: 0.5em; */
  text-align: center;
}

.box {
  width: 30px;
  height: 60px;
}

.hero-icon > .wordsParent {
  /* background-color: #ebebeb;
  padding: 1.1rem 0.8rem 0.4em 0.9rem;
  border-radius: 9999px;
  margin-bottom: 0.3em; */
  /* transform: translateY(-5px); */
  /* padding: 0; */
  position: relative;
  overflow: hidden;
}
.hero-icon > .wordsParent > .wordsChild {
  position: absolute;
  font-family: "Icon";
  animation-name: compass;
  animation-delay: 2.8s;
  animation-duration: 2s;
  transition-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
  width: 64px;
  height: 64px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  animation-direction: alternate;
  animation-iteration-count: 1;
  border: 1px solid var(--text-color);
  /* padding: 1.1rem 0.8rem 0.4em 0.9rem; */
  border-radius: 9999px;
  font-size: 2.5rem;
  line-height: 63px;
  padding-left: 0px;
  padding-right: 2px;
  color: var(--bg-color);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--text-color);
  transform: rotate(130deg);
}
/* 
@keyframes compass {
  0% {
    transform: rotate(130deg);
  }
  45% {
    transform: rotate(220deg);
  }
  100% {
    transform: rotate(130deg);
  }
} */

.hero-container {
  display: flex;
  flex-direction: column;
  padding-top: 10%;
  width: 100%;
}

.service-title {
  font-size: 4rem !important;
  flex: 1;
}

.heading-hero {
  font-size: 4rem !important;
  /* text-transform: uppercase; */
  width: 100%;
  margin-bottom: 64px;
}

.heading-display {
  font-size: 5rem;
  letter-spacing: -0.04em;
  line-height: 100%;
  width: 70%;
}

.service-paragraph {
  font-size: 2rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  flex: 1;
}

.link {
  color: var(--text-gray);
}

.name-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.credits-stripe {
  padding: 1rem;
  padding-bottom: 2rem;
  text-align: center;
  background-color: var(--bg-color-inverted);
  color: var(--accent);
}

.loader-logo {
  height: 28px;
}

.target-tag {
  background-color: var(--text-color);
  padding: 8px 8px 4px 8px;
  color: var(--bg-color);
  width: 24px;
  height: 5px;
  margin-top: -17px;
  margin-left: -0.5px;
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  font-size: 0.5rem;
  line-height: 0;
}

.target {
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  outline: 0.6px solid var(--text-color);
  position: absolute;
  z-index: 10;
  opacity: 0;
  left: 0;
  right: 0;
  top: 5%;
  margin: auto;
}

.target-image-wrapper {
  height: 200px;
  width: 200px;
}

.name-image {
  width: 150px;
  height: auto;
  margin-left: 1rem;
  margin-right: 1rem;
  position: absolute;
  transform-origin: center;
  /* border: 1px solid var(--black); */
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.name-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 40px;
}

.client-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 180px 0px 0px 0px;
  gap: 80px;
}

.client-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 1px;
}

.client-list2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1px;
}

.relative {
  position: relative;
}

.client-item {
  opacity: 0;
  display: flex;
  color: var(--text-color-inverted);
  justify-content: space-between;
  outline: 1px solid var(--text-color-inverted);
  padding: 3rem;
  transform: translateY(60px);
  width: 16%;
  flex-grow: 1;
}
.client-item2 {
  opacity: 0;
  display: flex;
  justify-content: space-between;
  outline: 1px solid var(--bg-border);
  padding: 3rem;
  transform: translateY(60px);
}

.step-row {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.step-inner {
  display: flex;
  gap: 1rem;
  flex: 1;
  flex-direction: column;
}

.logo {
  width: 28px;
  border-radius: 99999px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  box-shadow: 0 0 0 0px rgb(205, 205, 205);
  transition: box-shadow 0.1s ease-in;
}
.logo:hover {
  box-shadow: 0 0 0 3px rgb(205, 205, 205);
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

.social-item {
  white-space: nowrap;
  width: auto;
  display: inline-block;
}

a {
  position: relative;
  padding: 4px 0;
  color: #ecf0f1;
  text-decoration: none;
  transition: 0.5s;
}
a::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--gray);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.6s;
}
a:hover {
  color: #ffffff;
}
a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.contact-hero {
  margin-bottom: -2.7rem;
  text-align: center;
  font-size: 8rem;
  letter-spacing: -0.2rem;
}

.contact-header {
  font-size: 3rem;
  text-align: center;
  margin: 0px;
  padding: 0px;
  line-height: 90%;
}

.footer {
  padding-top: 88px;
  padding-bottom: 16px;
}

.contact-inner {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  align-items: flex-end;
}

.contact-wrapper {
  padding: 0rem 0 0rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.text-light {
  color: var(--text-gray);
}
.text-dark {
  color: var(--black);
}

.bg-yellow {
  background-color: #d8d8d8;
  color: var(--black) !important;
}

.pre-davide {
  font-size: 8rem;
  margin-bottom: 76px;
  color: #d8d8d8;
  text-align: center;
  letter-spacing: -0.2rem;
}

.david-container {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: -100px;
  margin-bottom: -150px;
  color: var(--text-color);
}

.bg-dark {
  background-color: var(--text-color);
  color: var(--text-color-inverted) !important;
}
.bg-light {
  background-color: var(--bg-color);
  /* background-color: #c3dccd; */
  /* color: var(--black) !important; */
}

.mb-80 {
  margin-bottom: 80px;
}

.mt-80 {
  margin-top: 80px;
}

.mb-180 {
  margin-bottom: 180px;
}

.mt-180 {
  margin-top: 180px;
}

.pb-180 {
  padding-bottom: 180px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pt-180 {
  padding-top: 180px;
}
.pt-80 {
  padding-top: 80px;
}

.width-50 {
  width: 50%;
}

.s-animated {
  visibility: hidden;
}

.secondary {
  color: #656565;
}

.secondary-dark {
  color: #a7a7a7;
}

.headingXl {
  line-height: 110%;
  font-size: 3rem;
  letter-spacing: -0.04em;
}
.headingL {
  font-size: 2rem;
  letter-spacing: -0.04em;
}
.paragraph {
  font-size: 1.5rem;
  line-height: 1.3em;
}

.h-animated,
.p-animated {
  visibility: hidden;
}

.charsChild {
  overflow: hidden;
}
.charsParent {
  overflow: hidden;
}
.lineChild {
  overflow: hidden;
  padding-bottom: 0.1em;
  padding-right: 0.06em;
  margin-left: -0.06em;
  margin-top: -0.1em;
}
.lineChildPar {
  overflow: hidden;
  padding-bottom: 0.1em;
  padding-right: 0.06em;
  margin-top: -0.1em;
}
.wordsChild {
}
.wordsParent {
  overflow: hidden;
  padding-bottom: 0.15em;
  padding-right: 0.06em;
  margin-left: -0.06em;
  margin-top: -0.1em;
  perspective: 2000px;
}

.david-paragraph {
  text-align: center;
}
@media only screen and (max-width: 1200px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .steps-layout {
    flex-direction: column;
  }

  .step-header {
    position: static;
    width: 100%;
  }
}

.lg-view {
  display: none;
}

@media only screen and (min-width: 1600px) {
  .lg-view {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .contact-wrapper {
    padding: 0rem 0 0rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 0;
    padding-right: 0;
  }

  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .navbar {
    padding-left: 0rem;
    padding-right: 0rem;
    justify-content: flex-start;
  }

  .hero-container {
    height: auto;
    width: inherit;
    padding-bottom: 2rem;
    padding-top: 20%;
  }
  .paragraph {
    font-size: 1.1rem;
    line-height: 150%;
  }

  .client-list {
    width: 100%;
    gap: 1px;
  }

  .py-180 {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .client-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    outline: 1px solid var(--text-color-inverted);
    padding: 2rem;
    transition: transform 0.3s ease;
    width: 25%;
  }

  .step-inner {
    flex-direction: column;
    gap: 0rem;
  }

  .step-row {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .heading-hero {
    font-size: 2.5rem !important;
    width: 100%;
    letter-spacing: -0.04em;
  }

  .headingXl {
    font-size: 2.5rem;
  }

  .width-50 {
    width: 100%;
  }

  .client-header {
    flex-direction: column;
    padding: 0px;
    gap: 24px;
    margin-bottom: 3rem;
    padding-top: 3rem;
  }

  .name-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .name-wrapper {
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-bottom: 1rem;
    gap: 3rem;
  }
  .name-image {
    margin: 0;
    margin-top: 0.3rem;
  }

  .centered {
    text-align: left !important;
  }

  .target {
    width: 60px;
    height: 60px;
    top: 0%;
    margin: auto;
  }

  .name-left {
    margin-left: 20px;
    margin-bottom: 1rem;
  }

  .name-right {
    margin-left: 30px;
    margin-top: -1rem;
  }

  .name-image {
    width: 100px;
    margin: 0 auto;
  }

  .target-image-wrapper {
    height: 100px;
  }

  .heading-display {
    font-size: 3.5rem;
    letter-spacing: -0.04em;
    line-height: 100%;
    width: 100%;
  }

  .client-item2 {
    padding: 2rem;
  }
  .service-inner {
    flex-direction: column;
  }
  .service-wrap {
    padding: 1.5rem 0rem 1.5rem 0rem;
    flex-direction: column;
    gap: 0;
  }
  .marquee {
    font-size: 2rem !important;
    padding: 1.5rem;
  }
  .contact-inner {
    flex-direction: column;
    align-items: center;
  }

  .contact-header {
    font-size: 2rem;
  }
  .david-container {
    padding-top: 40px;
    padding-bottom: 56px;
    margin-top: -40px;
    margin-bottom: -40px;
    color: var(--text-color);
    border-radius: 0px;
  }

  .service-title {
    font-size: 2rem !important;
    display: inline-block;
    flex: 1.5;
  }

  .pt-180 {
    padding-top: 40px;
  }
  .pb-180 {
    padding-bottom: 40px;
  }

  .pre-davide {
    font-size: 7rem;
    line-height: 80%;
    margin-bottom: 39px;
  }

  .contact-hero {
    margin-bottom: -1.2rem;
    text-align: center;
    line-height: 80%;
    font-size: 8rem;
    letter-spacing: -0.2rem;
  }

  .hidden-mobile {
    display: none;
  }
  .hero-icon > .wordsParent > .wordsChild {
    width: 40px;
    height: 40px;
    font-size: 1.6rem;
    line-height: 37px;
  }
  .service-paragraph {
    font-size: 1.1rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    flex: 2;
  }
}

h1,
h2,
h3,
h4,
p,
button,
span {
  text-wrap: balance;
  font-weight: normal !important;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: normal;
  margin: 0;
  -webkit-transform: translateZ(0);
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: dotted;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

html.lenis {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
