@font-face {
  font-family: "CoolFont";
  src: local("font/Aeonik-Regular.otf"),
    url("font/Aeonik-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  font-size: 100%;
}

body {
  padding-bottom: 500px;
}

:root {
  font-family: "CoolFont", sans-serif;
  font-weight: 400;
  font-style: normal;
  --black: #01030c;
  --beige: #f9f9f9;
  --text-gray: #dadada;
  --accent-purple: #4c00ee;
  --green: #079d5e;
  --gap: 3vw;
}

.mx-auto {
  margin: 0 auto;
}

.centered {
  text-align: center;
}

.pace .pace-progress {
  z-index: 2000;
  top: 0;
  right: 0;
  -webkit-transform: translate3d(0, 0, 0) !important;
  -ms-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}

.flex {
  display: flex;
  flex-wrap: nowrap;
}

.gap-m {
  gap: 3rem;
}

.pace .pace-progress:after {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  content: attr(data-progress-text);
  font-family: "CoolFont";
  font-style: normal;
  letter-spacing: -0.06em;
  font-size: 2rem;
  line-height: 1;
  text-align: center;
  color: var(--text-gray);
}

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  right: 0;
  left: 0;
  margin: 0 auto;
  color: var(--black);
  height: 80px;
  z-index: 9999;
  background-color: var(--beige);
}

.navbar-inner {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-text {
  font-size: 1.5rem;
  letter-spacing: -0.06em;
}

.nav-divider {
  height: 1px;
  background-color: var(--black);
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.u-divider {
  width: 32px;
  margin-right: 1vw;
  margin-left: 1vw;
}

.logo-navbar {
  height: 24px;
  width: auto;
  mix-blend-mode: difference;
}

.overflown {
  overflow: hidden;
}

.marquee-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.marquee-row {
  white-space: nowrap;
  width: 100vw;
  display: flex;
  gap: 1px;
}
.marquee-row2 {
  white-space: nowrap;
  width: 100vw;
  display: flex;
  gap: 1px;
}

.marquee-row3 {
  white-space: nowrap;
  width: 100vw;
  display: flex;
  gap: 1px;
}

.marquee-fixed-height {
  padding: 1rem 0 1rem 0;
}

.marquee {
  display: inline-block;
  padding: 2rem;
  outline: 1px solid var(--black);
}

.hidden {
  display: none;
}

.loader {
  /* background-color: var(--black); */
  background-color: var(--black);
  position: fixed;
  width: 100%;
  height: 100vh;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  z-index: 999999;
}

.h-full {
  height: 100vh;
}

.grid-row {
  display: grid;
  grid-template-rows: auto auto;
  column-gap: var(--gap);
}

.col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.col-6 {
  grid-template-columns: repeat(6, 1fr);
}

.contact {
  font-size: 8vw !important;
  grid-column: span 4;
  line-height: 80%;
}

.loader-logo {
  font-family: "CoolFont";
  font-style: normal;
  letter-spacing: -0.06em;
  font-size: 2rem;
  line-height: 1;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.fixed {
  position: sticky;
  right: 0;
  left: 0;
  top: 0;
  z-index: -10;
  height: 100svh;
}

.hero-container {
  display: flex;
  align-items: center;
  height: 60svh;
  height: 60vh;
  width: 56%;
}

.contact-data {
  grid-area: data;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}
.heading-hero {
  font-size: 3rem !important;
}
.service-title {
  padding-bottom: 2rem;
  font-size: 3rem !important;
}

.service-paragraph {
  font-size: 1.25rem;
}

.service {
  border: 1px solid var(--black);
  padding-top: 0px;
  background-color: var(--beige);
  overflow: hidden;
  flex: 1 1 0;
}

.service-inner {
  padding: 2rem;
}

.service-image-wrapper {
  min-height: 150px;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--black);
  padding: 2rem;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.service-image {
  width: 100%;
}

.devops {
  background-image: url("assets/devops.svg");
}

.cloud {
  background-image: url("assets/cloud.svg");
}

.fullstack {
  background-image: url("assets/backend.svg");
}

.divider {
  height: 2px;
  width: 100%;
  background-color: var(--black);
  display: inline-block;
  transform-origin: top left;
  /* margin-left: -5vw;
  margin-right: 105vw; */
}

.name-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.fix {
  margin-left: 60px;
}

.name-image {
  width: 100px;
  height: auto;
  margin-left: 1rem;
  margin-right: 1rem;
  transform-origin: center;
  border: 1px solid var(--black);
  margin-right: -50px;
}

.name-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.client-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 80px 0px 80px 0px;
  gap: 80px;
  margin-bottom: 5rem;
}

.client-list {
  width: 100%;
}

.relative {
  position: relative;
}

.client-item {
  position: relative;
  opacity: 1;
  display: flex;
  justify-content: space-between;
  background-color: var(--beige);
  outline: 1px solid var(--black);
  padding: 3rem;
  margin: 0 auto;
  width: 600px;
}

.step-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--beige);
  outline: 1px solid var(--black);
  gap: 4rem;
  position: relative;
  padding: 3rem;
  margin: 0 auto;
}

.step-number {
  font-size: 8rem;
  line-height: 0px;
}

.text-light {
  color: var(--text-gray);
}
.text-dark {
  color: var(--black);
}

.bg-yellow {
  background-color: #d8d8d8;
  color: var(--black) !important;
}

.bg-dark {
  background-color: var(--black);
  color: var(--text-gray) !important;
}
.bg-light {
  background-color: var(--beige);
  color: var(--black) !important;
}
.bg-green {
  background-color: var(--green);
  color: var(--beige) !important;
}

.bg-purple {
  background-color: var(--accent-purple);
  color: var(--text-gray) !important;
}

.heading-sub {
  grid-area: sub;
}

.heading-img {
  grid-area: img;
  overflow: hidden;
}

.mb-80 {
  margin-bottom: 80px;
}

.mt-80 {
  margin-top: 80px;
}

.mb-180 {
  margin-bottom: 180px;
}

.mt-180 {
  margin-top: 180px;
}

.pb-180 {
  padding-bottom: 180px;
}

.pt-180 {
  padding-top: 180px;
}

.width-50 {
  width: 50%;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: black;
  transform-origin: center;
  position: absolute;
  border-radius: 9999999999px;
  z-index: 0;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  overflow-y: hidden;
}

.border {
  border-bottom: 1px solid var(--black);
}

.line {
  width: 100%;
  height: 0px;
  opacity: 0;
  background-color: #beff55;
  transform-origin: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

.image-hero {
  transform: scale(1.5);
}

.secondary {
  color: #898989;
}

.headingXl {
  line-height: 100%;
  font-size: 3rem;
  letter-spacing: -0.04em;
}
.headingL {
  font-size: clamp(432px, 48px, 56px);
  letter-spacing: -0.2em;
}
.paragraph {
  font-size: 1.5rem;
  line-height: 1.2em;
}

.h-animated,
.p-animated {
  visibility: hidden;
}

.logo-animated {
  width: 15vw;
  visibility: hidden;
  transform-origin: center;
}

.spline-logo {
  position: absolute;
  bottom: 103px;
  right: 20px;
  width: 137px;
  height: 36px;
  z-index: 9999999;
  background-color: var(--black);
}

.charsChild {
  overflow: hidden;
}
.charsParent {
  overflow: hidden;
}
.lineChild {
  overflow: hidden;
}
.wordsParent {
  overflow: hidden;
  padding-bottom: 0.1em;
  padding-right: 0.06em;
  margin-left: -0.06em;
  margin-top: -0.1em;
}

@media only screen and (max-width: 768px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .navbar {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .navbar-inner {
    width: 100%;
  }
  .hero-container {
    height: 50svh;
    height: 50vh;
    width: inherit;
  }
  .paragraph {
    font-size: 1.1rem;
  }
  .heading-img {
    margin-bottom: 5vw;
  }

  .logo-animated {
    width: 30vw;
  }

  .client-list {
    width: 100%;
  }

  .py-180 {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .client-slit {
    position: absolute;
    top: -25px;
    left: 10px;
  }

  .client-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: var(--beige);
    border: 1px solid var(--black);
    padding: 32px;
    margin-top: -32px;
    transition: transform 0.3s ease;
    margin: 0 auto;
    width: 200px;
  }

  .grid-row {
    grid-template-columns: repeat(1, 100%);
  }

  .client-item:hover {
    transform: translateY(-50px);
    transition: transform 0.5s ease;
  }

  .client-item:last-child:hover {
    transform: translateY(0px);
    transition: transform 0.5s ease;
  }

  .heading-hero {
    font-size: 2rem !important;
  }

  .headingXl {
    font-size: 2rem;
  }

  .width-50 {
    width: 100%;
  }

  .client-header {
    flex-direction: column;
    padding: 0px;
    gap: 24px;
    margin-bottom: 3rem;
  }

  .grid-row {
    column-gap: 0px;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
  }

  .service {
    flex-basis: 100%;
  }

  .name-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .name-wrapper {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
  }
  .fix {
    margin: 0;
  }
  .name-image {
    margin: 0;
    margin-top: 0.3rem;
  }

  .centered {
    text-align: left;
  }
}
